/* Google fonts*/
:root, :root[ data-theme='dark']{
    --primary-color: #f0f0f0;
    --primary-bg-color:#021024;
    /* bg = background == cor de fundo */
    --secondary-bg-color: #28292E;
    --primary-border-color: #28292E;
    --secondary--border-color: #f0f0f0;
    --title-color: #f0f0f0;
    --link-color: #8f8f8f;
    --link-hover: #f0f0f0;
    --icon-color: #C7C8C9;
 }
  
 /*tema light */
 :root[data-theme='light'] {
  
      --primary-color: #000; /* cor principal textos */
        --primary-color:#d6d3d6;
        --secondary-bg-color: #1e1732;
    --primary-border-color: #28292E;
    --secondary--border-color: #15065c;
    --title-color: #f0f0f0;
    --link-hover: #8f8f8f;
    --link-color: #f0f0f0;
    --icon-color: #C7C8C9;
 }
 /* Reset CSS */
* {
  margin: 0; /*margem */
  padding: 0px; /* preenchimento */
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-bg-color) transparent;
}
 
 body{
 background: var(--primary-bg-color); /*cor fundo*/
 color: var(--primary-color);
 font-family: 'Playwrite', Tahoma, Geneva, Verdana, sans-serif;
 }
 a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover);
}

.header{
  display:flex ;
  flex-flow: row wrap;
  
  justify-content: space-between;
  
  align-items: center;
  width: 100%;
  padding: 0.5rem 5rem;
  z-index: 2;
  
 
}


.header-logo .logo{
  width: 3.25rem;
  height: 3.25rem;
}
#toggleTheme{
  font-size: 1.5rem;
  color: var(--icon-color);
  cursor: pointer;
  transition: ease-in-out .4s;
}

.menu{
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
  gap: 1rem;
}
.menu-link{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.menu-mobile{
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid var(--primary-border-color);
}

.menu-mobile .menu-link {
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
}
.menu-link .active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
  color: var(--link-hover);
  font-weight: 600;
}

.menu.icon, .menu-text {
color: var(--link-color);
font-weight: 600;
}

.menu.icon {
  font-size: 1.5rem;
}


 .menu.text {
  font-size: .75rem;
  text-transform: uppercase;
 }

 .header-nav {
  display: none;
 }

 .menu-principal {
  gap: 1rem;
 }

 /* -------------------------------------- */

 /* css responsivo */
 @media (min-widht: 768px){
  .header {
    position: fixed;
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 6rem;

  }
  .nav-mobile{
    display: none;
  }
  .header-nav {
    display: flex;
  }
 }