/* Google fonts*/
:root, :root[ data-theme='dark']{
    --primary-color: #f0f0f0;
    --primary-bg-color:#021024;
    /* bg = background == cor de fundo */
    --secondary-bg-color: #28292E;
    --primary-border-color: #28292E;
    --secondary--border-color: #f0f0f0;
    --title-color: #f0f0f0;
    --text-color: #8f8f8f;
    --link-color: #f0f0f0;
    --icon-color: #C7C8C9;
 }
  
 /*tema light */
 :root[data-theme='light'] {
  
      --primary-color: #000; /* cor principal textos */
        --primary-color:var--#ceaec7;
        --secondary-bg-color: #845677;
    --primary-border-color: #28292E;
    --secondary--border-color: #967e95;
    --title-color: #f0f0f0;
    --text-color: #8f8f8f;
    --link-color: #f0f0f0;
    --icon-color: #C7C8C9;
 }
 /* Reset CSS */
* {
  margin: 0; /*margem */
  padding: 0px; /* preenchimento */
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-bg-color) transparent;
}
 
 body{
 background: var(--primary-bg-color); /*cor fundo*/
 color: var(--primary-color);
 font-family: 'Playwrite', Tahoma, Geneva, Verdana, sans-serif;
 }
 a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover);
}

.header{
  display:flex ;
  flex-flow: row wrap;
  /*coloca o conteudo em linha e permite a quebra de linha. */
  justify-content: space-between;
  /* os itens dentro do container flexivel serão distribuidos de maneira uniforme ao longo do eixo principal, com espaços iguais entre eles.*/
  align-items: center;
  width: 100%;
  padding: 0.5rem 5rem;
  z-index: 2;
  /*sobreposição,  Menu fica fixo sobre o conteúdo do site no modo desktop 
conforme vc desce o site o z-index sobrepõe o menu pro resto do site pra ficar fixo*/
 
}


.header-logo .logo{
  width: 3.25rem;
  height: 3.25rem;
}